nav {
    .nav-logo-container img {
        width: 110px;
    }

    ul li {
        @apply px-3;
        a {
            @apply text-2xl tracking-wide;
            color: var(--text-primary);
        }
    }

    button img {
        width: 55px;
    }

    .nav-links-container.open-mobile-menu {
        display: block;
        li {
            margin-top: 8px;
        }
    }

    .nav-buttons {
        img {
            width: 50px;
        }

        .nav-menu-mobile {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .nav-menu-mobile--dark {
        filter: invert(100%);
    }

    .nav-theme-switcher--dark img {
        filter: invert(1);
    }
}